* {
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    background-color: #91B493;
    height: 100vh;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header {
    font-family: fantasy;
    margin-top: 120px;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 5.5rem;
}

.todo-input {
    height: 40px;
    width: 300px;
    border-radius: 25px;
    font-size: 20px;
    padding: 16px 16px 16px 20px;
    color: #2D6D4B;
    border: none;
}

.todo-input::placeholder {
    color: #2D6D4B;
}

.todo-input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #91B493;
}

.btn-new {
    color: #91B493;
    border-color: #fff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin-left: 15px;
}

.btn-new:hover,
.btn-new:active,
.btn-new:focus {
    color: #91B493;
    border-color: #91B493;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-new:hover {
    transform: scale(1.05);
}

.nav-item {
    padding: 30px 40px 10px;
    font-size: 20px;
}

.nav-item>a:hover {
    color: #fff;
}

.nav-link {
    color: #2D6D4B;
}

.todo-list {
    margin-top: 30px;
    color: #fff;
    font-size: 22px;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

.todo-list li {
    position: relative;
    width: 400px;
    height: 25px;
    padding: 16px 16px 16px 20px;
    margin: 10px auto;
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.todo-list li:last-child {
    border-bottom: none;
}

.btn-delete {
    position: absolute;
    color: #fff;
    font-size: 20px;
    background: transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin-left: 350px;
}

.btn-delete:hover,
.btn-delete:active,
.btn-delete:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-delete:hover {
    transform: scale(1.05);
}

.todo-check {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 35px;
    -webkit-appearance: none;
    background-color: #91B493;
    border: 1px solid #fff;
    border-radius: 3px;
}

.todo-check:checked+label {
    position: relative;
}

.todo-check:checked+label::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #2D6D4B;
}

.todo-check:checked::after {
    content: " ✓";
    font-size: 30px;
    font-weight: 900;
    color: #2D6D4B;
    line-height: 20px;
    position: absolute;
}